/*============GERAL================================================================*/

* {
  margin: 0; /*retirando a margem de todos os elementos*/
  box-sizing: border-box;
  padding: 0;
}

:root {
  /*font-size: 100%; 16 px (padrão) logo 1rem = 16px*/
  font-size: 62.5%; /*1 rem = 10px agora (+Facil para padronizar e manter a flexibilidade)*/

  /*variáveis do css*/
  --hue: 240;
  --primary-color: hsl(var(--hue), 5%, 7%);
  --headline: white;/* hsl(210, 11%, 15%);*/
  --paragraph: hsl(0, 0%, 100%);
  --brand-beige: hsl(calc(var(--hue) - 22), 15%, 15%);
  --brand-light: hsla(calc(var(--hue) - 22), 23%, 23%,0.95);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --bg-light: hsla(calc(var(--hue) - 22), 23%, 23%,0.95); /*hsl(214, 25%, 84%);*/
  --nav-height: 7.2rem;
  --brand-dark: hsl(var(--hue), 100%, 14%);
}

html {
  /*smooth scrolling precisa ser habilitado no navegador às vezes*/
  scroll-behavior: smooth;
}

/*scrollbar custom*/
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #2d3747;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #63636305;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
  border: 0px solid #ffffff00;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay; /*sobrepõe o scroll da página, o tirando do cálculo qnd clica no menu (muda de pos o logo)*/

  /* background-color: var(--bg-light); */
  background-image: linear-gradient(180deg,#303949,#262626);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;

  
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}


section header h4 {
  font-size: 1.4rem;
  color: white; 
  margin-bottom: 1.6rem;

  font-weight: 700;

  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: --var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
}

section .content p {
  color: var(--paragraph);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}

.button {
  background-color: var(--primary-color);
  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  /*Ao não definir um width fixo o botão (para n bugar com mt texto), por ter seus elementos internos como flex, define a parte de fora como block, pegando todo o espaço do wrapper,Para que isso não aconteça e também não precise definir o width com nros, eu uso o fit-content e ele adequará o tamanho*/
  width: fit-content;

  border-radius: 4rem;
  border: none;

  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1.6rem;

  text-decoration: none;
  transition: background 200ms;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--brand-dark);
}

/*============CUSTOM COLORS================================================================*/
#backToTopButton circle,
#navigation .logo path[fill*='#00856F'] {
  fill: #000047;
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: white;
}

/*============NAVIGATION================================================================*/
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed; /*Retira minhas margins auto e libera o top/left/bottom*/
  top: 0;
  width: 100vw;

  /*Diminui 50% do tamanho do elemento, deixando ele exatamente no meio*/
  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background-color: var(--primary-color);
}

/*mudando a cor do SVG para torna-lo branco ao scroll*/
/*nth-child posso definir qual elemento filho (1/2/3...) vai receber o estilo
nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}*/

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*============MENU-EXPANDED================================================================*/

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden; /*impede o click*/
}

.menu {
  transform: translateY(100%);
  /*Jogando o elemento pra baixo p iniciar a transição*/
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
  transition: transform 200ms;
  transform: translateY(0%);
  /*transasionando o menu usandoa logica do expanded*/
}

/*o > indica que to aplicando os efeitos a tudo que vem após o body  exceto para o NAV */
body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body.menu-expanded {
  /*tirando scroll do menu (impedindo o scroll pro lado e pra baixo)*/
  overflow: hidden;
}

body.menu-expanded .menu {
  /* position: fixed;*/
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background-color: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block; /*não pode ser apenas inline pois as margens n são aplicadas*/
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;
  filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*============#HOME================================================================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
  margin-right: auto;
  margin-left: auto;
}

#home::before {
  /*Criando pseudo elemento para simular background e dar o efeito de corte no meio*/
  content: '';
  width: 100%;
  /*+ tamanho da navegação para que ele fique novamente exatamente onde posicionado*/
  height: calc(76% + var(--nav-height));
  background-color: black;
  display: block;
  background-color: var(--brand-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home h1 {
  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

.border-effect{
  background-image:  linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

  display: flex;
  
  padding: .3rem;
  width: 20.4rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  
  transition: transform .3s;

}

#home img {
  display: block;
  margin-inline: auto;
  width: 26.4rem; /*Definir um tamanho para imagem acompanhar a responsibidade*/
  border-radius: 50%;
  /*object-position:0 2rem; caso a img tivesse em PNG ela teria um tamanho maior que n me permitiria colar a mulher na div stats, portanto mexeríamos no posionamento
  da imagem (tag img é uma caixa que contém uma imagem) para que ela ficasse um pouco mais pra baixo */
}

#home .hiHand{
  width: 3rem;
  display: inline;
}

#home .stats {
  width: 100%;
  padding-block: 4rem; /*Mexe no eixo Y padding-top/bottom*/
  margin-inline: auto; /*margem referente ao eixo x / n precisa usar margin-left e right dai*/
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: white;
  line-height: 150%;
}

/*============SERVICES================================================================*/

#stacks header h2,
#projects header h2,
#exp header h2{
  margin-bottom: 6rem;
  color: white;
}

#stacks header h6 img,
#projects header h6 img,
#exp header h6 img{
 
  position: relative;
  top: .7rem;
  left: .7rem;
}

#stacks .cards,
#projects .cards,
#exp .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
 
}

#stacks .card,
#projects .card,
#exp .card {
  padding: 2.4rem;
  text-align: center;
 
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  background-color: var(--brand-beige);
  color: white;

  transition: height 0.2s cubic-bezier(0, 0, 0.88, 0.58);

}

#stacks .card h3,
#projects .card h3,
#exp .card h3 {
  margin-block: 1.6rem; /*pega em cima e embaixo*/
}

#stacks .card .apex-logo{
  width: 8rem;
  height: 10rem;
  text-align: center;
  border-radius: 50%;
  fill: #CA4D3C;
}


#exp .cards {
  align-items: center;
}

#exp .card{

  gap: 3rem;
  width: 15rem;
}

#exp .details-opened{
  width: 45rem;
  transition: width 0.2s cubic-bezier(0, 1.01, 0.59, 1.37);
} 

#exp .details-opened details summary{
  display: flex;
  align-items: center;
  gap: 1rem;
}

#exp .details-opened details p{
  position: relative;
  padding-left: 9rem;
  bottom: 2rem;
  text-align: start;
}

#exp .details-opened details img, #exp .details-opened details svg {
  position: relative;
  top: 4rem;
}

#exp .card img, #exp .card svg{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.list-wrapper {
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 6px;
  border-radius: 10px;

}



.projects-list{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  background: radial-gradient(circle at -4% -12.9%, #292C30 0.3%, rgb(30, 33, 48) 90.2%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects-list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}

.tiny-card{
  width: 20rem;
  height: 20rem;
  background-color: #21252c;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.projects-list svg, .projects-list img {

  width: 15rem;
  height: 15rem;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}


details > summary  {
  list-style: none;
  margin: auto;
  text-align: center;
}

summary svg{
  max-height: 10rem;
}

/*============ABOUT================================================================*/
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
  color: white;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*============CONTACT================================================================*/
#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*============FOOTER================================================================*/

footer {
  background-color: var(--primary-color);
  padding: 6rem;

  text-align: left;
  color: white;
}

footer .logo {
  /*footer logo tinha display inline. O qual não aceita margin/width/height etc, para isso defino ele como inline-block para mudar apenas as propriedades q eu alterar */
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/*============Back to Top================================================================*/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0%);
}

/*============RESPONSIVIDADE================================================================*/

@media (min-width: 1024px) {
  /*============GERAL================================================================*/

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    /*ate os 112rem ele cresce, mais que isso ele para*/
    display: grid;
  }

  section {
    padding-block: 12rem;
  }
  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
    display: flex;
  }


  /*============NAVIGATION================================================================*/

  /*Pegar o navigation wrapper e pegar todos os elementos*/
  nav#navigation .wrapper * {
    /*resetar*/
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a:hover,
  nav#navigation .menu .active {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    background-color: var(--primary-color);

    position: relative;

    bottom: -1.8rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a:hover::after,
  nav#navigation .menu .active::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  /*============HOME================================================================*/

  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;

    /*Definindo as areas das colunas (bruxaria pura kkkkkkkkkkkk)*/
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center; /*Alinha a própria grid area ao centro*/
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;
    flex-direction: row;
    gap: 0;
    padding: 6rem;
  }

  #home .button {
    margin: 0;
  }

  .border-effect{
    background-image:  linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  
    display: flex;
    
    padding: .3rem;
    width: 20.4rem;
    margin: auto;
    border-radius: 50%;
    
    transition: transform .3s;
  
  }
  
  #home img {
    width: 42rem;
    
  }

  /*procure em home stats um stat que tenha um outro stat ANTERIOR a ele*/
  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  /*============SERVICES================================================================*/
  #stacks h2,
  #projects h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #stacks .cards,
  #projects .cards {
    flex-direction: row;
    flex-wrap: wrap; /*usando o wrap ele pega o tamanho das caixas para ajustar, como as caixas estavam mt grandes, abaixamos o tamanho delas abaixo*/
    gap: 4rem;
    align-items: flex-start;

  }

  #stacks .card,
  #projects .card {
    width: 30%;
    flex-grow: 1; /*após diminuir o tamanho ainda ficou algum espaço entre os cards, então usamos o flex-grow para preenche-lo*/
    min-height: 19rem;

  }

  /*============ABOUT================================================================*/

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*============CONTACT================================================================*/

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact h2 {
    width: 40.4rem;
  }

  /*============FOOTER================================================================*/

  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-content: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}


/*===============================ANIMATIONS===============================*/
@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}